nav{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

nav h1{
    color: #ffffff;
}

nav h2{
    color: #ffffff;
}

body{
    background-color: #202020;
    color: #000000;
    margin: 0px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
}

a{
    color: #ffffff;
    text-decoration: none;
}

.Defender_icon{
    text-align: center;
}

nav img{
    border-radius: 50%;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

img{
    justify-content: space-between;
    width: 100px;
    height: 100px;
    padding: 16px;
}

header div{
    text-align: center;
}

.Center{
    text-align: center;
}

h1{
    text-align: center;
    color: #ffffff
}

h3{
    text-align: center;
    color: #ffffff
}

p{
    text-align: center;
    color: #ffffff;
}

div .Espaço{
    color: #000000;
    background-color: black;
}